<!DOCTYPE html>
<html>
<head>
  <title>SI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div class="navbar-fixed">
    <nav class="navbar-color">
      <div class="nav-wrapper">
        <a href="/" class="brand-logo center link">SCE</a>
        <a class='brand-logo left'><h5>Afonso Dias O.C. Silva-14/005571</h5></a>
      </div>
    </nav>
  </div>
<%= yield %>

</body>
</html>
